html, body {
    font-family: Courier New;
}

.container {
    overflow: hidden;
}

.zero-height {
    height: 0;
}

.interval {
    height: 20px;
}

.room {
    height: 120px;
    border-radius: 10px;
    background: rgba(0,0,0,.1);
    transition: .2s background;
}

.room > .title {
    text-align: center;
}

.room:hover {
    background: rgba(0,0,0,.3);
}

#logged-in-as, #room-name {
    font-weight: 900;
}

#chat-wrapper {
    height: 0;
    overflow: hidden;
    
    transition: height .3s;
}

#chat-interface {
    background: rgba(0,0,0,.3);
    border-radius: 10px;
    height: 50px;
}

#chat-interface > div {
    height: 40px;
    padding: 10px;
}

#chat-messages {
    height: 120px;
    overflow: auto;
}

#chat-looged-in-as {
    height: 40px;
}

.slot {
    height: 200px;
    border-radius: 10px;
    background: rgba(0,0,0,.1);
    border: 1px solid #000;
    position: relative;
}

.slot > .slot-label {
    color: #000;
    width: 100%;
    text-align: center;
    font-weight: 900;
}

#error-wrapper {
    position: fixed;
    opacity: 0;
    min-width: 200px;
    width: 100%;
    height: 50px;
    background: #000;
    color: #F00;
    text-align: center;
    font-weight: 900;
    z-index: 10;
    top: -50px;
}

#alert-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #000;
    color: #000;
    background: #FFF;
    padding: 5px 10px;
    z-index: 10;
    display: none;
    font-size: 20px;
}

#numbers-div {
    height: 30px;
}

.number-div,#number-div-arrow  {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 900;
    border: 1px solid rgba(0,0,0,.4);
}

#number-div-arrow {
    font-size: 20px;
    border: none;
}

#timer-div {
    font-size: 30px;
    padding: 10px;
    text-align: center;
    position: relative;
    margin: 5px 0;
}

#timer-div > div {
    border: 1px solid rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s width;
}

#blind-div {
    border-radius: 100px;
    background: #000;
    color: #FFF;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}